/**
 * @file
 * Rules for minimizing affects of archived CSS on replay banners.
 *
 * CSS of an archived page may interfere with the style of a replay
 * banner or toolbar. These rules attempt to normalize styles for
 * the banner, to prevent unexpected archived styles from appearing.
 */

#wm-ipp a,
#wm-ipp body,
#wm-ipp form,
#wm-ipp img,
#wm-ipp input,
#wm-ipp span,
#wm-ipp table,
#wm-ipp tbody,
#wm-ipp td,
#wm-ipp tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 11px;
  font-family: 'Lucida Grande', 'Arial', sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  text-decoration: none;
  text-shadow: none;
  line-height: 1.5;
  vertical-align: middle;
  z-index: auto;
}

#wm-ipp a {
  color: #33f;
}

#wm-ipp a:hover {
  text-decoration: underline;
}

#wm-ipp b,
#wm-ipp strong {
  font-size: 11px;
  font-family: 'Lucida Grande', 'Arial', sans-serif;
  font-weight: bold;
  color: inherit;
}

#wm-ipp body {
  min-width: 800px;
  color: #212529;
}

#wm-ipp div {
  font: inherit;
  font-size: 100%;
  font-weight: 400;
  line-height: normal;
  vertical-align: baseline;
  white-space: normal;
}

#wm-ipp img {
  object-fit: fill;
}

#wm-ipp input {
  background: none;
  background-color: white;
  font-size: 100%;
  border-style: solid;
  border-radius: 5px;
  border-bottom-width: 1px;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 1px;
  border-collapse: collapse;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  padding: 3px;
  height: auto;
}

#wm-ipp input[type=button],
#wm-ipp input[type=submit] {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 5px;
  border-bottom-width: 2px;
  width: auto;
}

#wm-ipp table {
  border-collapse: collapse;
  border-spacing: 0;
}

#wm-ipp td,
#wm-ipp tr {
  height: auto;
  width: auto;
  padding: 1px;
  text-align: center;
}

