# This directory is for easy configuration by just adding cdx files here
#
# This file is to force git to not ignore the directory
# Ignore everything in this directory
*
# Except this file
!.gitignore
