<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

    <servlet>
	    <servlet-name>RetrievalServlet</servlet-name>
    	<servlet-class>org.archive.wayback.servletglue.WBReplayUIServlet</servlet-class>

	    <init-param>
	      <param-name>UNUSED-replayui.class</param-name>
	      <param-value>org.archive.wayback.ippreplayui.InPagePresenceReplayUI</param-value>
	    </init-param>
	    <init-param>
	      <param-name>replayui.class</param-name>
	      <param-value>org.archive.wayback.rawreplayui.RawReplayUI</param-value>
	    </init-param>

	    <init-param>
	      <param-name>replayui.jsppath</param-name>
	      <param-value>jsp/ReplayUI</param-value>
	    </init-param>

	    <init-param>
	      <param-name>queryui.class</param-name>
	      <param-value>org.archive.wayback.simplequeryui.SimpleQueryUI</param-value>
	    </init-param>
	    <init-param>
	      <param-name>queryui.jsppath</param-name>
	      <param-value>jsp/QueryUI</param-value>
	    </init-param>

	    <init-param>
	      <param-name>resourcestore.class</param-name>
	      <param-value>org.archive.wayback.localresourcestore.LocalARCResourceStore</param-value>
	    </init-param>
	    <init-param>
	      <param-name>resourcestore.arcpath</param-name>
	      <param-value>/home/brad/test-arc3</param-value>
	    </init-param>

	    <init-param>
	      <param-name>resourceindex.class</param-name>
	      <param-value>org.archive.wayback.localbdbresourceindex.LocalBDBResourceIndex</param-value>
	    </init-param>
	    <init-param>
	      <param-name>resourceindex.indexPath</param-name>
	      <param-value>/tmp/test-db</param-value>
	    </init-param>
	    <init-param>
	      <param-name>resourceindex.dbName</param-name>
	      <param-value>DB1</param-value>
	    </init-param>
	    <init-param>
	      <param-name>resourceindex.arcPath</param-name>
	      <param-value>/home/brad/test-arc3</param-value>
	    </init-param>
	    <init-param>
	      <param-name>resourceindex.workPath</param-name>
	      <param-value>/tmp/index-pipeline</param-value>
	    </init-param>
	    <init-param>
	      <param-name>resourceindex.runPipeline</param-name>
	      <param-value>1</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RetrievalServlet</servlet-name>
		<url-pattern>/replay</url-pattern>
	</servlet-mapping>



    <servlet>
	    <servlet-name>QueryServlet</servlet-name>
    	<servlet-class>org.archive.wayback.servletglue.WBQueryUIServlet</servlet-class>

	    <init-param>
	      <param-name>UNUSED-replayui.class</param-name>
	      <param-value>org.archive.wayback.ippreplayui.InPagePresenceReplayUI</param-value>
	    </init-param>
	    <init-param>
	      <param-name>replayui.class</param-name>
	      <param-value>org.archive.wayback.rawreplayui.RawReplayUI</param-value>
	    </init-param>
	    <init-param>
	      <param-name>replayui.jsppath</param-name>
	      <param-value>jsp/ReplayUI</param-value>
	    </init-param>

	    <init-param>
	      <param-name>queryui.class</param-name>
	      <param-value>org.archive.wayback.simplequeryui.SimpleQueryUI</param-value>
	    </init-param>
	    <init-param>
	      <param-name>queryui.jsppath</param-name>
	      <param-value>jsp/QueryUI</param-value>
	    </init-param>

	    <init-param>
	      <param-name>resourcestore.class</param-name>
	      <param-value>org.archive.wayback.localresourcestore.LocalARCResourceStore</param-value>
	    </init-param>
	    <init-param>
	      <param-name>resourcestore.arcpath</param-name>
	      <param-value>/home/brad/test-arc3</param-value>
	    </init-param>

	    <init-param>
	      <param-name>resourceindex.class</param-name>
	      <param-value>org.archive.wayback.localbdbresourceindex.LocalBDBResourceIndex</param-value>
	    </init-param>
	    <init-param>
	      <param-name>resourceindex.indexPath</param-name>
	      <param-value>/tmp/test-db</param-value>
	    </init-param>
	    <init-param>
	      <param-name>resourceindex.dbName</param-name>
	      <param-value>DB1</param-value>
	    </init-param>
	    <init-param>
	      <param-name>resourceindex.arcPath</param-name>
	      <param-value>/home/brad/test-arc3</param-value>
	    </init-param>
	    <init-param>
	      <param-name>resourceindex.workPath</param-name>
	      <param-value>/tmp/index-pipeline</param-value>
	    </init-param>
	    <init-param>
	      <param-name>resourceindex.runPipeline</param-name>
	      <param-value>1</param-value>
	    </init-param>

	</servlet>

	<servlet-mapping>
		<servlet-name>QueryServlet</servlet-name>
		<url-pattern>/query</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>RetrievalFilter</filter-name>
		<filter-class>org.archive.wayback.servletglue.RequestFilter</filter-class>

	    <init-param>
	      <param-name>requestParser.class</param-name>
	      <param-value>org.archive.wayback.rawreplayui.RawReplayUI</param-value>
	    </init-param>
	    <init-param>
	      <param-name>handler.url</param-name>
	      <param-value>/replay</param-value>
	    </init-param>

	</filter>
	<filter-mapping>
    	<filter-name>RetrievalFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>QueryFilter</filter-name>
		<filter-class>org.archive.wayback.servletglue.RequestFilter</filter-class>

	    <init-param>
	      <param-name>requestParser.class</param-name>
	      <param-value>org.archive.wayback.simplequeryui.SimpleQueryUI</param-value>
	    </init-param>
	    <init-param>
	      <param-name>handler.url</param-name>
	      <param-value>/query</param-value>
	    </init-param>

	</filter>
	<filter-mapping>
    	<filter-name>QueryFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
