<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

	<!-- General Installation information
	 -->

	<context-param>
		<param-name>installationname</param-name>
		<param-value>Local Archival URL Installation</param-value>
		<description>
			This text will appear on the Wayback Configuration and Status page
			and may assist in determining which installation users are viewing
			via their web browser in environments with multiple Wayback 
			installations.
		</description>
	</context-param>


	<!-- Local Arc Path Configuration: 
			used by both indexpipeline and LocalARCResourceStore
	 -->

	<context-param>
		<param-name>arcpath</param-name>
		<param-value>/tmp/wayback/arcs</param-value>
		<description>
			Directory where ARC files are found (possibly where Heritrix writes them.)
			This directory must exist.
		</description>
	</context-param>



	<!-- ResourceStore Configuration -->
	
	<context-param>
		<param-name>resourcestore.classname</param-name>
		<param-value>org.archive.wayback.localresourcestore.LocalARCResourceStore</param-value>
		<description>Class that implements ResourceStore for this Wayback</description>
	</context-param>



	<!-- ResourceIndex Configuration -->
	
	<context-param>
		<param-name>resourceindex.classname</param-name>
		<param-value>org.archive.wayback.cdx.LocalBDBResourceIndex</param-value>
		<description>Class that implements ResourceIndex for this Wayback</description>
	</context-param>

	<context-param>
		<param-name>resourceindex.indexpath</param-name>
		<param-value>/tmp/wayback/index</param-value>
		<description>
			LocalBDBResourceIndex specific directory to store the BDB files.
			Directory must exists.
		</description>
	</context-param>

	<context-param>
		<param-name>resourceindex.dbname</param-name>
		<param-value>DB1</param-value>
		<description>
			LocalBDBResourceIndex specific name for BDB database
		</description>
	</context-param>



	<!-- ResourceIndex Pipeline Configuration -->

	<context-param>
		<param-name>indexpipeline.workpath</param-name>
		<param-value>/tmp/wayback/pipeline</param-value>
		<description>
			LocalBDBResourceIndex specific directory to store flag files and temporary index data.
		</description>
	</context-param>

	<context-param>
		<param-name>indexpipeline.runpipeline</param-name>
		<param-value>1</param-value>
		<description>
			if set to '1' then a background indexing thread will automatically update the BDB
			index when new ARC files are noticed in the 'arcpath' directory.
		</description>
	</context-param>

	<!-- Pipeline Filter Configuration 
			this enables a trival (and very in-progress) UI for viewing the 
			pipeline status.
	-->

	<filter>
		<filter-name>PipelineFilter</filter-name>
		<filter-class>org.archive.wayback.cdx.indexer.PipelineFilter</filter-class>
	    <init-param>
	      <param-name>pipeline.statusjsp</param-name>
	      <param-value>jsp/PipelineUI/PipelineStatus.jsp</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
    	<filter-name>PipelineFilter</filter-name>
		<url-pattern>/pipeline</url-pattern>
	</filter-mapping>




	<!-- Query Servlet Configuration -->
	
    <servlet>
	    <servlet-name>QueryServlet</servlet-name>
    	<servlet-class>org.archive.wayback.query.QueryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryServlet</servlet-name>
		<url-pattern>/query</url-pattern>
	</servlet-mapping>

	<!-- QueryUI Configuration -->
	
	<context-param>
		<param-name>queryrenderer.classname</param-name>
		<param-value>org.archive.wayback.query.Renderer</param-value>
		<description>Implementation responsible for drawing Index Query results</description>
	</context-param>

	<context-param>
		<param-name>queryui.jsppath</param-name>
		<param-value>jsp/QueryUI</param-value>
		<description>
			SimpleQueryUI specific path to jsp pages. relative to webapp/
		</description>
	</context-param>




	<!-- Replay Servlet Configuration -->

    <servlet>
	    <servlet-name>ReplayServlet</servlet-name>
    	<servlet-class>org.archive.wayback.replay.ReplayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReplayServlet</servlet-name>
		<url-pattern>/replay</url-pattern>
	</servlet-mapping>



	<!-- Archival Url Query Filter Configuration -->

	<filter>
		<filter-name>QueryFilter</filter-name>
		<filter-class>org.archive.wayback.archivalurl.QueryFilter</filter-class>

	    <init-param>
	      <param-name>handler.url</param-name>
	      <param-value>/query</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
    	<filter-name>QueryFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- Archival Url Replay Filter Configuration -->

	<filter>
		<filter-name>ReplayFilter</filter-name>
		<filter-class>org.archive.wayback.archivalurl.ReplayFilter</filter-class>

	    <init-param>
	      <param-name>handler.url</param-name>
	      <param-value>/replay</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
    	<filter-name>ReplayFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- Archival Url URI Conversion Configuration -->

	<context-param>
		<param-name>replayuriconverter.classname</param-name>
		<param-value>org.archive.wayback.archivalurl.ResultURIConverter</param-value>
		<description>Class that implements translation of index results to Replayable URIs for this Wayback</description>
	</context-param>

	<context-param>
		<param-name>replayuriprefix</param-name>
		<param-value>http://localhost:8080/wayback</param-value>
		<description>HTTP URI prefix for the replay UI</description>
	</context-param>


	<!-- Archival Url JSReplayUI Configuration -->

	<context-param>
		<param-name>replayrenderer.classname</param-name>
		<param-value>org.archive.wayback.archivalurl.JSReplayRenderer</param-value>
		<description>Implementation responsible for drawing replayed resources and replay error messages</description>
	</context-param>

	<context-param>
		<param-name>replayui.jsppath</param-name>
		<param-value>jsp/ReplayUI</param-value>
		<description>
			RawReplayUI specific path to jsp pages. relative to webapp/
		</description>
	</context-param>

</web-app>
