body          { color: #000000;
                font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
                font-size: 10pt;
                background: #ffffff;
		}

a             { font-size: 10pt }

a:link        { color: #0066a1 }
a:visited     { color: #0066a1 }
a:active      { color: #666666 }
a:hover       { color: #ff7700 }


h1            { font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
                font-size: 12pt;
                font-weight: bold;
		color: #0066a1
	      }

h2            { font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
                font-size: 10pt;
                font-weight: bold;
                color: #0066a1 }

h3            { font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
                font-size: 9pt;
                font-weight: bold;
                color: #0066a1 }

p             { font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
                font-size: 10pt}

td            { font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
                font-size: 10pt }

input         { font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif; font-size: 10pt }

form          { margin: 0px }



table {
    background: #efefef;
}


td.shade {
    color: #000000;
    font-weight: normal;
    font-size: 9pt;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

td.shade a {
    font-size: 9pt;
}

td.norm, td.norm A  {
    background: #ffffff;
    font-size: 9pt;
}

td.nav {
    font-weight: normal;
    font-size: 14pt;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

td.nav a {
    font-size: 14pt;
}

TABLE.results {
     background-color: #bed0dc;
}

TABLE.resultsborder {
     background-color: #ffffff;
}
TABLE.greyborder {
    background-color: #606060
}

table.blackborder {
    background-color: #000000
}


TD.border {
     background-color: #606060;
}


